{% extends 'core/base.html' %}
  {% block content %}
  <article class="blog-post">
    <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="100%" height="auto" src={{ post.image.url }} preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
    <strong class="d-inline-block mb-2 mt-3 text-primary"><a href={% url 'category' post.category.id %}>{{ post.category }}</a></strong>
    <h2 class="blog-post-title mb-1">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.created | date:'d b Y' }} por: <a href={% url 'author' post.author.id %}>{{ post.author }}</a></p>

    <p>{{ post.excerpt }}</p>
    <hr>
    <div class="container">
    <p class="blog-post">{{ post.content | safe }}</p>
    </div>
    <hr>
    <strong>Etiquetas</strong>
    {% for tag in post.tag.all %}
    <span class="badge text-bg-info">{{ tag | upper }}</span>
    {% endfor %}
    <br>
  </article> 
  <div class="text-center">
    <a class="btn btn-primary rounded-pill " href={% url 'home' %}>Volver al inicio</a>
    {% if post.author == request.user%}
      <a class="btn btn-danger rounded-pill float-end" href={% url 'delete' post.id %}>Eliminar</a>
      <a class="btn btn-warning rounded-pill float-end" href={% url 'update' post.id  %}>Editar</a>
    {% endif %}
  </div>
  
  {% endblock %}     