{% extends 'core/base.html' %}

{% block content %}
  {% if post_list %}
    {% for post in post_list %}  
      {% if forloop.first and page_obj.number == 1 %}
          <div class="p-4 p-md-4 mb-4 rounded text-bg-dark">
            <div class="col-md-12 px-0">
            <h1 class="display-4 fst-italic text-secondary ">{{ post.title }}</h1>
            <p class="lead my-3">{{ post.excerpt }}</p>
            <p class="lead mb-0"><a href={% url 'post' post.id %} class="text-white fw-bold">Seguir leyendo...</a></p>
            </div>
          </div>
      {% else %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-300 position-relative">
          <div class="object-fit-cover col-auto d-none d-lg-block">
            <img src={{ post.image.url }} width="300" height="250"  class="img-fluid rounded-start " alt="...">          
          </div>
          
          <div class="col-6 p-2 d-flex flex-column position-static">
            <strong class="d-inline-block mb-1 mt-0 text-primary">{{ post.category }}</strong>
            <h3 class="mb-0">{{ post.title|truncatewords:'7' }}</h3>
            <div class="mb-1 text-muted">{{ post.created | date:'d b y'}}</div>
            <p class="card-text mb-auto">{{ post.excerpt|truncatewords:'30' }}</p>
            <a href={% url 'post' post.id %} class="stretched-link">Seguir leyendo</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}  
  {% else %}
    <div class="alert alert-danger" role="alert">
      No hay post en el Blog 
    </div>
  {% endif %}
  
  <hr>
  <!-- barra paginacion -->
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if page_obj.number == 1 %}disabled{% endif %}">
        <a class="page-link" href="?page=1">Primera</a>
      </li>
      
      <li class="page-item {% if posts.number == 1 %}disabled{% endif %}">
        {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          {{ page_obj.previous_page_number }}
        </a>
        {% endif %}
      </li>
      
      <li class="page-item active" aria-current="page">
        <a class="page-link" >{{ page_obj.number }}</a>
      </li>

        {% if page_obj.has_next %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}
          </a>
        </li>
        {% endif %}
      <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}disabled{% endif %}">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
      </li>
    </ul>
  </nav>
  <hr>  
  {% endblock %}